@import '../_variables.scss';
.login-container{
    .login-banner{
        background-image: url('https://www.credit.com/wp-content/uploads/2017/02/opening-bank-account-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: center;
        position: relative;
    }
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-right: 16em;
    }
    .loginBtn{
        margin-top: 2px;
        flex-grow: 1;
        background-color: $defaultOrange;
        &:disabled{
            background-color: $defaultOrange;
            opacity: .3;
            cursor: no-drop;
        }
    }
    .card {
    margin-top: 10px;
    box-shadow: 3px 1px 10px #00000070;
    .header {
        background: $defaultColor;
        color: #fff;
        text-align: center;
        font-weight: bold;
        padding: .2em;
        display: flex;
        justify-content: center;
        align-items: center;
        .title{
            font-size: 2em;
        }
        .lock{
            display: flex;
            margin-left: 1em;
            color: orange;
            background-image: url('../../images/lock-icon.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 2em;
            height: 2em;
            background-position: center;
            
        }
    }
}
}
