@import '../css/_variables.scss';
body{
    background-color: $defaultColor;
}
.app-page{
    .content{
        display: block;
        position: fixed;
        left: 16em;
        width: 100%;
        height: 100%;
    }
    .full-content{
        
    }
}